<h1>Stores within 25 miles of: <%= @stores.zip %> </h1>
<h3> Total Stores: <%= @stores.total %></h3>
Results:
<% @stores.each do |store| %>
  <%= store.longName %>
  <%= store.city %>
  <%= store.distance %>
  <%= store.phone %>
  <%= store.storeType %>
<% end %>
